.what-to-learn {
    .learn-list {
        column-count: 2;
        
        .learn-item {
            .learn-item__check {
                background-image: url('../../static/img/check.svg');
                background-size: 0.75rem;
                background-position: left left;
                background-repeat: no-repeat;
                width: 0.75rem;
                height: 0.75rem;
            }
            display: flex;
        }
    }
}