.what-to-learn {
    .learn-list {
        column-count: 2;

        .learn-item {
            .learn-item__check {
                background-image: url('../../static/img/check.svg');
                background-size: contain;
                background-position-x: left;
                background-position-y: 0.15rem;
                background-repeat: no-repeat;
                min-width: 0.9rem;
                height: auto;
                margin-right: 0.5rem;
            }
            display: flex;
            margin-bottom: 1rem;
        }
    }
}