@import url("./fonts.scss");
@import url("./reset.scss");

body {
  font-family: "Proxima Nova Rg", sans-serif;
  font-weight: 400;
}

@media (max-width: 600px) {
  html {
    font-size: 0.8rem;
  }
  .welcome-screen {
    min-height: 100vh;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 1rem;
        align-items: center;
        height: 100vh !important;

        button {
            width: 80%;
            font-size: 1.5rem;
        }

        .mega-title {
            padding-top: 10rem;
            text-align: center;
        }
        .welcome-screen__description {
            margin-bottom: auto;
        }
    }
  }
}
@media (max-width: 500px) {
  html {
    font-size: 0.75rem;
  }
}

@media (max-width: 430px) {
    .welcome-screen {
        .mega-title {
            font-size: 4rem;
        }
    }
  }
  